
<div class="meta-wrapper">
    <div id="mobile-navbar" class="collapse">
        <a class="button" data-anchor="front"> Ra-Ge.NET </a>
        <a class="button" data-anchor="webdev"> Web Development</a>
        <a class="button" data-anchor="linux"> Linux </a>
        <a class="button" data-anchor="network"> Network </a>
        <a class="button" data-anchor="disqus_thread"> Guestbook</a>
    </div>
    
    <div id="navbar" class="sticky">
        <a class="button" data-anchor="front"> Ra-Ge.NET </a>|
        <a class="button" data-anchor="message"> Messages </a>|
        <a class="button" data-anchor="webdev"> Web Development </a>|
        <a class="button" data-anchor="linux"> Linux </a>|
        <a class="button" data-anchor="network"> Network </a>|
        <a class="button" data-anchor="disqus_thread"> Guestbook</a>
    </div>

    <div class="slide" id="home">
        <h3 class="top-info" id="kvk">KVK: 53997549</h3>
        <h3 class="top-info" id="btw">BTW: NL 207047030 B01</h3>
        <a href="tel:+31630978540" id="phone" class="top-info" >06 30 97 85 40</a> 
        <a href="mailto:info@ra-ge.net" id="email" class="top-info">info@ra-ge.net.net</a>
        <h3 class="top-info" id="adress"> Plutolaan 158, 3721 MV <br> Bilthoven</h3>

        <h1 id="rage">  Ra-Ge.NET  </h1>
        <%= image_tag 'home.png', :alt => '', :width => '100%', :id => 'front'  %>
        <%= image_tag "menu.png", :alt => " ", :id => "menu-btn" %>
    </div>
   
    
    <div class="slide" id="message">
    <h2 class="title">Berichten</h2>
        <div class="container">
            <% @posts.each do |p| %>
                <div class="post">
                    <h2><%= p.title %></h2>
                    <%= image_tag p.image(:medium) %>
                    <p><%= p.content %> </p>
                </div>
            <% end %>
        </div>
    </div>
    
    <div class="slide" id="webdev">
        <h2 class="title">Web Development</h2>
        <div class="container">
            <div class="post ever">
                <h2>Skills</h2>
                <p>Here is a list of skills i have to offer :</p>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>jQuery</li>
                    <li>Ruby on Rails</li>
                    <li>PHP</li>
                    <li>Nginx</li>
                    <li>Maria DB</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="slide" id="linux">
        <h2 class="title">Linux Server and desktop administration.</h2>
        <div class="container">
            <div class="post ever">
            <h2>Linux Server and desktop administration.</h2>
            <p>Debian based linux systeem administration, Shell scripting, system engineering and prototyping</p>
                <ul>
                    <li>Bash</li>
                    <li>Fish</li>
                    <li>Raspberry Pi</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="slide" id="network">
        <h2 class="title">Network engineering</h2>
        <div class="container">
            <div class="post ever">
            <h2>Network engineering</h2>
            <p>Network configurations and captive portals.</p>
            <ul>
                <li>Cisco</li>
                <li>Raspberry Pi</li>
                <li>Captive Portals</li>
            </ul>
            </div>
        </div>
    </div>
    <div class="slide">
    <h2 class="title">Gastenboek</h2>
            <div class="container">
                <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'ragenet'; // required: replace example with your forum shortname
                
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
            </div>
        </div>
    </div>
<script type='text/javascript'>(function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://widget.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: 'a43d1d8a-ed52-4a2b-908b-45fd2d218cc5', f: true }); done = true; } }; })();</script>
</div>
